<header>
  <nav class="navbar navbar-light bg-light mx-3 justify-content-between">
    <h1>player: <%= username ? username : 'not registered' %></h1>
    <div class="d-flex  navbar-form-button">
      <form class="mx-1" action="/lobby">
        <input class="btn btn-primary" type="submit" value="JOIN A GAME" />
      </form>

      <form class="mx-1" action=" /lobby/create">
        <input class="btn btn-primary" type="submit" value="CREATE A GAME" />
      </form>
    </div>
    <form id="logoutForm" action="/auth/logout" method="get">
      <button type="submit" class="btn btn-danger">Log Out</button>
    </form>
  </nav>
</header>