* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: Arial, Helvetica, sans-serif;
}

body {
	height: 100vh;
	overflow: hidden;
}

button,
.btn {
	border-radius: 0 !important;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-height: 100vh;
	height: 100vh;
	min-width: 800px;
	column-gap: 10px;
}

.main {
	height: 85vh;
}

footer {
	height: 5vh;
	text-align: center;
	border-top: rgb(50, 50, 50) solid 1px;
	margin-top: 1px;
}

header {
	height: 10vh;
}

a {
	color: rgb(0, 0, 255);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: auto;
	max-width: 100%;
	padding: 0;
	margin: 0;
}

.container > form {
	width: 100%;
}

.main {
	display: flex;
	height: calc(100vh - 125px);
	min-height: calc(100vh - 125px);
	max-height: calc(100vh - 125px);
}

.main > * {
	margin: 0;
	padding: 0;
}

#registrationForm,
#loginForm {
	width: 100%;
	max-width: 500px;
}

#registrationForm > button,
#loginForm > button {
	margin-right: 10px;
}

.chat {
	border-left: 1px rgb(50, 50, 50) solid;
	margin-right: 5px;
	display: flex;
	flex-direction: column;
	width: 20rem;
}

.table {
	margin: 0 5px;
	display: flex;
	flex-direction: column;
	min-width: 800px;
}

#leftMenu {
	display: flex;
}

#joinGame {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#joinGame > h1,
#joinGame > h2,
#joinGame > form,
#joinGame > h1,
#joinGame > h2,
#joinGame > form {
	text-align: center;
}

#joinGame > div > form input,
#joinGame > div > form input {
	width: 300px;
	height: 100px;
	margin: 1rem;
}
#joinGame > div,
#joinGame > div {
	justify-content: center;
}

.my-games {
	width: 100%;
	flex-direction: column;
	position: relative;
	overflow-y: scroll;
}
.my-game,
.my-game-code {
	display: flex;
	justify-content: space-around;
	position: relative;
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid rgb(50, 50, 50);
}

.my-game-code {
	justify-content: flex-end;
	margin-right: 5rem;
	border: none;
}

.my-game-code .codeText {
	font-weight: bolder;
	color: green;
}

#message-box {
	flex-grow: 1;
	border-bottom: rgb(50, 50, 50) solid 1px;
	margin-bottom: 1px;
}

#inputBox {
	display: flex;
	flex-wrap: nowrap;
}

#inputBox > input {
	width: 100%;
	border: 1px solid rgb(50, 50, 50);
	margin: 3px;
	height: 40px;
}

#chatMenu {
	display: flex;
}

#globalChat {
	flex-grow: 1;
}

#privateChat {
	flex-grow: 1;
}

#globalChat > button,
#privateChat > button {
	width: 100%;
}

#welcomeLink {
	font-size: 8rem;
}

#welcomeLink > a {
	text-decoration: none;
}
