<div class="chat">
  <div id="chat-top">
    <div id="globalChat">
      <button>GLOBAL</button>
    </div>

    <% if (inGame === true) { %>
    <div id="privateChat">
      <button>PRIVATE</button>
    </div>
    <% } %>
  </div>
  <div id='chat-middle'>
    <div id="chats">
      <div id="chat-global">
        <template id="message">
          <div class="message-body">
            <span class="sender"></span>
            <span class="content"></span>
            <small class="time"><span class="timestamp text-muted"></span></small>
          </div>
        </template>

        <div id="messages"> </div>
      </div>

      <div id="chat-private">
        <template id="message-private">
          <div class="message-body-private">
            <span class="sender-private"></span>
            <span class="content-private"></span>
            <small class="time-private"><span class="timestamp text-muted"></span></small>
          </div>
        </template>

        <div id="messages-private">test</div>
      </div>

    </div>


  </div>

  <div id="chat-bottom" class="userId-<%- userId -%>">
    <input placeholder='...' type="text" id="message-field" />
  </div>
</div>