<div class="gameTable">
  <h1>welcome to the game #<%- gameId -%></h1>
  <div id="board">
    <p id="actions">
      <p id="turnText">Not your turn</p>
      <div id="selfCards">

      </div>
      <button type="button" id="takeCard" disabled>Take card</button>
    </p>
  </div>
</div>
