<div class="gameTable">
  <div class="tableMes">
    <h1>Table #<%- gameId -%></h1>
  </div>
  <div id="board">
    <p id="actions">
    <p id="turnText">Loading...</p>
    <div class="currentC">
      <p id="currentCard"></p>
    </div>
    <h2>
      Play card:
    </h2>
    <div id="selfCards">

    </div>
    <div class="wildCard">
      <div class="alert alert-secondary">
        <p>
          <i>For cards with color none, you can pick which color will be next using the following select:</i>
        </p>
      </div>
      <select name="color" id="color">
        <option value="red" selected="selected">Red</option>
        <option value="blue">Blue</option>
        <option value="green">Green</option>
        <option value="yellow">Yellow</option>
      </select>
    </div>

    <div class="takeBtn">
      <button type="button" class="btn btn-primary btn-lg" id="takeCard" disabled>Take card</button>
    </div>
    </p>
  </div>
</div>