<!DOCTYPE html>
<html>
<%- include('./partials/head'); -%>

<body>
  <div class="text-center">
    <h1>Welcome to <%= title %> Game!!!</h1>
    <div id="welcomeLink">
      <a class="link-success" href="/lobby">START</a>
    </div>
  </div>
</body>

</html>