<div class="chat">
  <div id="chatMenu">
    <div id="globalChat">
      <button>GLOBAL</button>
    </div>
    <div id="privateChat">
      <button>PRIVATE</button>
    </div>
  </div>
  <div id='message-box'></div>
  <div id='inputBox'>
    <input className='input-group-text input-message' type='text' name='messsage' placeholder='send a message' id='msg-123' />
    <button id='message-btn' className='btn btn-secondary send-btn ' type='submit' value='send'>
      Send
    </button>
  </div>
</div>