<div id="createGame">
  <h1>Create a game:</h1>
  <form class="mx-1" action="/lobby/generatePublicGame" method="post">
    <input class="btn btn-secondary" type="submit" value="PUBLIC" />
  </form>
  <form class="mx-1" action="/lobby/generatePrivateGame">
    <input class="btn btn-secondary" type="submit" value="PRIVATE" method="post" />
  </form>
</div>