<div class="table">
  <div id="leftMenu">
    <div id="joinGame">
      <button>JOIN</button>
    </div>
    <div id="createGame">
      <button>CREATE</button>
    </div>
  </div>
  <div id="tableMain">main</div>
</div>